@use '../utils' as *;
@use '../globals' as *;

.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.ml-2, .mx-2 {
    margin-left: rem(10) !important;
}

.mt-5, .my-5 {
    margin-top: rem(10)!important;
    margin-bottom: rem(10)!important;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

.font-weight-bold {
    font-weight: 700!important;
}

